<div  class="create-page" style="width: 500px; margin:0 auto" ng-click="formClick()" >
	<h4><b>{{pageTitile}}</b></h4><br/>
	<form name="editCreateForm" novalidate >
		<div class="form-group" ng-class="{ 'has-error' :  editCreateForm.title.$dirty && editCreateForm.title.$invalid}">
		    <label>Title</label>
		    <input type="text" name="title" id="f-title" placeholder="Title" class="form-control" ng-model="title" ng-maxlength="50" required>
		    <p ng-show="editCreateForm.title.$dirty && editCreateForm.title.$invalid && !editCreateForm.title.$error.maxlength" class="help-block">You name is required.</p>
		    <p ng-show="editCreateForm.title.$error.maxlength" class="help-block">Title is too long. Allow only 50 characters</p>
		</div>
		<div class="form-group" ng-class="{ 'has-error' :  editCreateForm.desc.$dirty && editCreateForm.desc.$invalid}"> 
			<label for="f-desc">Description</label>
			<textarea name="desc" required ng-maxlength='200' id="f-desc" ng-model="desc" rows="5" placeholder="Description" class="form-control"> </textarea>
			<p ng-show="editCreateForm.desc.$dirty && editCreateForm.desc.$invalid && !editCreateForm.desc.$error.maxlength" class="help-block">Description is required.</p>
		    <p ng-show="editCreateForm.desc.$error.maxlength" class="help-block">Title is too long. Allow only 200 characters </p>
		</div>
		<div class="form-group">                   
			<label for="f-type">Type</label>
		  	<div  ng-click="animate()" class="dropdown">
			    <button class="btn btn-default dropdown-toggle" name="typeDropDown" type="button" id="menu1" data-toggle="dropdown">{{type}}
			    <span class="caret"></span></button>
			    <ul id="dropdown-type" class="dropdown-menu" role="menu" aria-labelledby="menu1">
			     	<li ng-click="sType('0')" role="menuitem"><a>Menu</a></li>
			        <li ng-click="sType('1')" role="menuitem"><a>Events</a></li>
			        <li ng-click="sType('2')" role="menuitem"><a>Content</a></li>
			    </ul>
			</div>
		</div>
		<div class="form-group"> 
			<label>Status</label></br>
			<label for="f-status" class="switch" > 
		     	<input type="checkbox" checked="" ng-model="checkboxModel" class="switch-input" id="f-status" ng-click="check()">
				<span data-off="Off" data-on="On" class="switch-label off"></span>
				<span class="switch-handle"></span>
		    </label>
	    </div>
	    <div class="right form-group"> 
			 <button type="button" ng-click="getData()" class="btn btn-primary" ng-disabled="editCreateForm.$invalid || dropdownStatus()">{{buttonName}}</button>
			 <button type="button" ng-click="closeForm()" class="btn btn-primary">Close</button>
		</div>
	</form>
	<div class="clear"></div>
</div>