<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="../js/animation.js" ></script>
	<style type="text/css">
	</style>
</head>
<body>
	<div id="test"  class="test" style="margin-top:5px; background-color:#ddd; position:relative;">
	    <ul>
	        <li>test1</li>
	        <li>test2</li>
	        <li>test3</li>
	        <li>test4</li>
	        
	    </ul>
	</div>
	<input type="button" onclick="animation.slideUp('test')" value="SLIDEUP"><br/>
	<!-- <input type="button" onclick="animation()" value="SLIDEDown"> -->
	<input type="button" onclick="animation.slideDown('test')" value="SLIDEDown">

	<script type="text/javascript">
	// alert("77");
		// t.slideUp("test");
		// t;
		// alert(animation.isVisible('test'));
		// var myAnim = animation("test");

		// var tt = function(o){
		// 	var oo = "!!!!"
		// 	return {
		// 		p : function(){
		// 			alert("test !!!"+o+" --- ---- --- "+oo);
		// 		}
		// 	}
		// }
		// var p = tt(" deutreo test ");
		// p.p();


	</script>

</body>
</html>