<div class="view-selected-page">
	<div class="left page">
		<div class="right back-forw-cont" ng-hide="hidePreNextBtn">
			<img class="left-arrow hand" ng-click="prev()" src="images/d_arrow.png" alt="left">
			<img class="right-arrow hand" ng-click="next()" src="images/d_arrow.png" alt="right">
		</div>
		<div class="clear"></div>
	<div>
	 	<p class="left">TITLE:</p>
	 	<div id="view-title" class="right info-padding-width"> {{data.title}}</div>
	</div>
	<div class="clear"></div>
	<div>
	 	<p class="left">DESCRIPTION:</p>
	 	<div id="view-desc" class="right info-padding-width" > {{data.description}}</div>
	</div>
	<div class="clear"></div>
	<div>
	 	<p class="left">TYPE:</p>
	 	<div id="view-type" class="right info-padding-width">{{data.type}} </div>
	</div>
	<div class="clear"></div>
		<div>
	 	<p class="left">STATUS:</p>
	 	<div id="view-status" class="right info-padding-width"> {{data.isActive}}</div>
	 </div>
	 <div class="clear"></div>
	  <div>
	 	<p class="left published">PUBLISHEDON:</p>
	 	<div id="view-published" class="right info-padding-width">{{data.publishedOn}}</div>
	 </div>
	 <div class="clear"></div>
	</div>
		<div class='mod-buttons'>
			<button ng-click="goEditPage(data.id)" class="left view-buttons btn btn-primary" type="button">Edit</button>
			<button ng-click="deletePage(data.id)" class="left view-buttons btn btn-danger" type="button">Delete</button>
		</div>		 
	<div class="clear"></div>
</div>